.browserupgrade {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #252525;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.p-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 0;
  background: #252525;
  z-index: 8;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__mob {
    display: none;
  }
  &__logo {
    display: block;
    img,
    svg {
      max-width: 165px;
      max-height: 45px;
    }
    &-text {
      display: block;
      margin: 7px 0 0 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
      opacity: 0.5;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 0 0 60px;
    list-style: none;
    li:hover {
      & > a {
        color: #cf3534;
      }
      & > ul {
        display: block;
      }
    }
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: block;
        padding: 8px 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #cf3534;
          text-decoration: none;
        }
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: -10px;
      width: 330px;
      margin: 0;
      padding: 10px 12px;
      list-style: none;
      background: #cacaca;
      z-index: 9;
      li {
        display: block;
        position: relative;
        width: 100%;
        a {
          display: block;
          padding: 12px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #252525;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            background: #ffffff;
            color: #cf3534;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-right: 25px;
  }
  &__phone {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 7px 0 0 0;
    img,
    svg {
      display: block;
      max-width: 24px;
      max-height: 16px;
      margin-right: 10px;
      transition: all 0.2s ease-out;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 11px 22px;
    border: 2px solid #e93130;
    background: transparent;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-home-main {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-color: #252525;
  padding: 110px 0;
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 22px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    margin: 80px 0 0 0;
    padding: 18px 34px;
    border: 2px solid #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  z-index: 3;
}

.p-home-features {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -70px;
  padding: 130px 0 30px 0;
  background: #cf3534 url("../images/home_features_bg.svg") no-repeat center bottom 48px;
  &-card {
    display: block;
    position: relative;
    margin: 0 0 30px 50px;
    &__image {
      display: block;
      width: 100%;
      height: 90px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 65px;
      }
    }
    &__title {
      display: block;
      max-width: 275px;
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
  }
  &_about {
    margin-top: 0;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 574px;
    height: 475px;
    margin-top: -200px;
    background-size: cover;
    background-position: center center;
    z-index: 4;
    pointer-events: none;
  }
  &__title {
    display: block;
    margin: 0 0 5px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 44px 0 0 0;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.p-home-about {
  display: block;
  position: relative;
  padding: 95px 0 50px 0;
  background: url("../images/home_about_bg.svg") no-repeat right 5px top -300px;
  img,
  svg {
    display: block;
    position: relative;
    max-width: 100%;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    color: #ffffff;
    z-index: 3;
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &__text {
    display: block;
    position: relative;
    margin: 0 0 85px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  &__info {
    display: block;
    width: 100%;
    padding: 37px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 62px 12px;
    border: 2px solid #e93130;
    background: transparent;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-home-services {
  display: block;
  position: relative;
  padding: 50px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 425px;
    min-height: 150px;
    margin: 0 auto 30px auto;
    padding: 20px 10px;
    background: #2d2d2d;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: -15px;
      width: 100%;
      height: calc(100% + 32px);
      border-top: 2px solid #5b5b5b;
      border-bottom: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: -15px;
      top: 0;
      width: calc(100% + 30px);
      height: 100%;
      border-left: 2px solid #5b5b5b;
      border-right: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-home-services-card_dark {
        fill: #ffffff;
      }
      .p-home-services-card_red {
        fill: #252525;
      }
      &:before {
        border-top: 4px solid #5b5b5b;
        border-bottom: 4px solid #5b5b5b;
      }
      &:after {
        border-left: 4px solid #5b5b5b;
        border-right: 4px solid #5b5b5b;
      }
      background: #cf3534;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-home-view {
  display: block;
  position: relative;
  padding: 50px 0;
  background: url("../images/view_bg.svg") no-repeat center center;
  &__mob {
    display: none;
  }
  &__title {
    display: block;
    margin: 0 0 95px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &__view {
    display: block;
    position: relative;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow-x: auto;
  }
  &__svg {
    display: block;
    margin: 30px auto 0 auto;
  }
  &__text {
    display: block;
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
    &_active {
      color: #cf3534 !important;
    }
    &_1 {
      top: 0;
      left: 0px;
    }
    &_2 {
      top: 257px;
      left: 37px;
    }
    &_3 {
      top: 392px;
      left: 128px;
    }
    &_4 {
      top: 197px;
      right: 0px;
    }
    &_5 {
      top: 349px;
      right: 35px;
    }
    &_6 {
      bottom: 4px;
      right: 18px;
    }
  }
}

.view {
  &_active {
    fill: #cf3534 !important;
  }
  &_1 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
  &_2 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
  &_3 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
  &_4 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
  &_5 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
  &_6 {
    transition: all 0.2s ease-out;
    &:hover {
      fill: #cf3534;
    }
  }
}

.p-home-projects {
  display: block;
  position: relative;
  padding: 5px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &__cards {
    display: block;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    background: #ffffff;
    &__image {
      display: block;
      width: 100%;
      height: 100%;
      min-height: 550px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 70px 0 80px 40px;
    }
    &__title {
      display: block;
      max-width: 400px;
      min-height: 369px;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 41px;
      color: #252525;
    }
    &__link {
      display: block;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #cf3534;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 30px;
    width: 68px;
    height: 25px;
    filter: grayscale(1);
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 123px;
  }
  .swiper-button-next {
    left: auto;
    right: 30px;
  }
  .swiper-pagination {
    display: inline-block;
    position: absolute;
    bottom: auto;
    top: 25px;
    left: auto;
    right: 30px;
    width: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
    text-align: right;
  }
}

.p-home-reviews {
  display: block;
  position: relative;
  padding: 50px 0 90px;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    padding: 18px 30px;
    border: 2px solid #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    width: 100%;
    padding: 70px 0 90px 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__image {
      display: block;
      width: 180px;
      height: 255px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #ffffff;
    }
    &__title {
      display: block;
      margin: 0 0 16px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: #ffffff;
    }
    &__subtitle {
      display: block;
      margin: 0 0 24px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    &__text {
      display: block;
      height: 72px;
      overflow: hidden;
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    &__link {
      display: block;
      margin: 36px 0 0 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #cf3534;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 68px;
    height: 25px;
    filter: grayscale(1);
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 510px;
    right: auto;
  }
  .swiper-button-next {
    left: auto;
    right: 510px;
  }
  .swiper-pagination {
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    width: 100px;
    transform: translateX(-50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #5b5b5b;
    pointer-events: none;
  }
}

.p-home-products {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 160px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #252525;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 310px;
    min-height: 320px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 220px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #252525;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: -15px;
      width: 100%;
      height: calc(100% + 32px);
      border-top: 2px solid #5b5b5b;
      border-bottom: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: -15px;
      top: 0;
      width: calc(100% + 32px);
      height: 100%;
      border-left: 2px solid #5b5b5b;
      border-right: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .p-home-products-card__title {
        color: #cf3534;
      }
      &:before {
        border-top: 4px solid #cf3534;
        border-bottom: 4px solid #cf3534;
      }
      &:after {
        border-left: 4px solid #cf3534;
        border-right: 4px solid #cf3534;
      }
      text-decoration: none;
      z-index: 3;
    }
  }
}

.p-home-form {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -60px;
  margin-bottom: 100px;
  padding: 80px 90px 90px 90px;
  background: #eaeaea url("../images/home_form_bg.svg") left bottom;
  background-repeat: no-repeat;
  z-index: 3;
  &_active {
    margin: 0 0 80px 0;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #252525;
  }
  &__subtitle {
    display: block;
    margin: 0 0 70px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #252525;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 18px 26px;
    border: 0;
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #5b5b5b;
  }
  &__info {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #252525;
    opacity: 0.5;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 18px;
    border: 0;
    outline: none;
    background: #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &_dark {
    background: #252525 url("../images/home_form_bg.svg") left bottom;
    background-repeat: no-repeat;
    .p-home-form__title {
      color: #ffffff;
    }
    .p-home-form__subtitle {
      color: #ffffff;
    }
    .p-home-form__info {
      color: #ffffff;
    }
  }
}

.p-home-companies {
  display: block;
  position: relative;
  padding: 0 0 50px 0;
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 120px;
    margin: 0 auto 60px auto;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.p-footer {
  display: block;
  position: relative;
  padding: 90px 0;
  background: #eaeaea url("../images/footer_bg.svg") right top;
  background-repeat: no-repeat;
  &__logo {
    display: block;
    margin-bottom: 40px;
    img,
    svg {
      max-width: 185px;
      max-height: 66px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 7px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5b5b5b;
  }
  &__phone {
    display: block;
    margin: 0 0 22px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #252525;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin: 26px 0 0 0;
    img,
    svg {
      display: block;
      max-width: 24px;
      max-height: 24px;
      margin-right: 10px;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
    a {
      color: #252525;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 0 0 26px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #252525;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #5b5b5b;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #cf3534;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: block;
    position: relative;
    margin: 350px 0 0 0;
    padding-left: 30px;
    background: url("../images/icon_creators.png") no-repeat 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(37, 37, 37, 0.5);
    a {
      color: rgba(37, 37, 37, 0.5);
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
  }
}

.p-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(37, 37, 37, 0.5);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    padding: 60px 60px 70px 60px;
    background: #353535;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0 0 70px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 18px 26px;
    border: 0;
    background: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #5b5b5b;
  }
  &__info {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.5;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 18px;
    border: 0;
    outline: none;
    background: #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.p-breadcrumps {
  display: block;
  position: relative;
  margin: 0;
  padding: 16px 0;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  z-index: 6;
  &_air {
    padding-left: 20px;
  }
  li {
    display: inline-block;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e93130;
        text-decoration: none;
      }
    }
  }
  &_dark {
    color: #252525;
    li {
      a {
        color: #252525;
      }
    }
  }
}

.p-projects {
  display: block;
  position: relative;
  padding-bottom: 100px;
  &__button {
    display: block;
    position: relative;
    max-width: 245px;
    margin: 30px auto 0 auto;
    padding: 18px 12px;
    border: 2px solid #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 36px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 670px;
    margin: 0 auto 30px auto;
    background: #ffffff;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 300px;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(37, 37, 37, 0.8);
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    &__link {
      display: block;
      padding: 28px 45px;
      border: 2px solid #ffffff;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      position: relative;
      width: 100%;
      height: 114px;
      padding: 26px 80px 30px 80px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      color: #252525;
      text-align: center;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #cf3534;
      color: #ffffff;
      text-decoration: none;
      .p-projects-card__content {
        opacity: 1;
      }
      .p-projects-card__title {
        color: #ffffff;
      }
    }
  }
}

.p-about {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -48px;
  background-size: cover;
  background-position: center center;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 130px 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  &__subtitle {
    display: block;
    margin: 0 0 25px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
    color: #ffffff;
  }
  &-info {
    display: block;
    position: relative;
    padding: 70px 0 110px 0;
    &__text {
      display: block;
      margin: 0 0 30px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
    }
    &__image {
      display: block;
      position: absolute;
      width: calc(100% - 25px);
      height: 570px;
      background-size: cover;
      background-position: center center;
      pointer-events: none;
      z-index: 3;
    }
  }
}

.p-about-area {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 100px 0;
  background: #ffffff url("../images/about_area_bg.svg") no-repeat right top -300px;
  background-repeat: no-repeat;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #252525;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 310px;
    min-height: 375px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #ffffff;
    &__number {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #cf3534;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 13px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #252525;
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #252525;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 10px;
        background: url("../images/icon_ul_li.svg") no-repeat left 0px top 7px;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: -15px;
      width: 100%;
      height: calc(100% + 32px);
      border-top: 2px solid #5b5b5b;
      border-bottom: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: -15px;
      top: 0;
      width: calc(100% + 32px);
      height: 100%;
      border-left: 2px solid #5b5b5b;
      border-right: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before {
        border-top: 4px solid #cf3534;
        border-bottom: 4px solid #cf3534;
      }
      &:after {
        border-left: 4px solid #cf3534;
        border-right: 4px solid #cf3534;
      }
      text-decoration: none;
      z-index: 3;
    }
  }
}

.p-article {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -48px;
  background-size: cover;
  background-position: center center;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 170px 0 110px 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  &__title {
    display: block;
    margin: 0 0 23px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    margin: 80px 0 0 0;
    padding: 18px 34px;
    border: 2px solid #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__seo {
    display: block;
    position: relative;
    width: 100%;
    padding: 90px 0 50px 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      line-height: 1.2;
      color: #ffffff;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 50px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 10px;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
    a {
      color: #cf3534;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 50px;
        background: url("../images/icon_ul_li_long.svg") no-repeat left 14px top 14px;
      }
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
      background: #404040;
    }
    .table-striped > tbody > tr:nth-of-type(even) {
      background: #4b4b4b;
    }
    .table {
      margin: 0 0 30px 0;
    }
    .table td {
      padding: 12px 20px;
      border: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
    }
    .table thead th {
      padding: 16px 20px;
      border: 0;
      background: #cf3534;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
  }
  &__gallery {
    display: block;
    position: relative;
    width: 100%;
    max-width: 210px;
    margin: 0 auto 30px auto;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 210px;
      background: linear-gradient(0deg, rgba(207, 53, 52, 0.8), rgba(207, 53, 52, 0.8));
      opacity: 0;
      img,
      svg {
        display: block;
        max-width: 42px;
        max-height: 42px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.p-solutions {
  display: block;
  position: relative;
  padding: 50px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 425px;
    min-height: 150px;
    margin: 0 auto 30px auto;
    padding: 20px 10px;
    padding-right: 60px;
    background: #2d2d2d;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 150px;
      height: 100%;
    }
    &__number {
      display: block;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
      color: #5b5b5b;
    }
    &__title {
      display: block;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: -15px;
      width: 100%;
      height: calc(100% + 32px);
      border-top: 2px solid #5b5b5b;
      border-bottom: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: -15px;
      top: 0;
      width: calc(100% + 30px);
      height: 100%;
      border-left: 2px solid #5b5b5b;
      border-right: 2px solid #5b5b5b;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before {
        border-top: 2px solid #cf3534;
        border-bottom: 2px solid #cf3534;
      }
      &:after {
        border-left: 2px solid #cf3534;
        border-right: 2px solid #cf3534;
      }
      .p-solutions-card__number {
        color: #cf3534;
      }
      color: #ffffff;
      text-decoration: none;
      z-index: 3;
    }
  }
}

.p-home-seo {
  display: block;
  position: relative;
  padding: 5px 0 100px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
  }
  &__content {
    display: block;
    position: relative;
    height: 72px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(37, 37, 37, 0) 0%, rgb(37, 37, 37) 100%);
      z-index: 3;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    p {
      display: block;
      margin: 0 0 20px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    &_active {
      height: auto;
      &:after {
        background: transparent;
      }
    }
  }
  &__more {
    &_active {
      cursor: pointer;
    }
    display: block;
    position: relative;
    padding-top: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #cf3534;
    cursor: pointer;
    text-decoration-line: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
}

.p-good {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 60px 30px 70px 30px;
  background: #ffffff;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 300px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #252525;
  }
  &__text {
    display: block;
    margin: 0 0 60px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #252525;
  }
  &__price {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #252525;
    b,
    strong {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #cf3534;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 18px 40px;
    border: 2px solid #cf3534;
    outline: none;
    background: transparent;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e93130;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 40px 50px 40px 50px;
    background: #ffffff;
    &__title {
      display: block;
      margin: 0 0 15px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #252525;
    }
    p {
      display: block;
      margin: 0 0 10px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #252525;
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #252525;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 10px;
        background: url("../images/icon_ul_li.svg") no-repeat left 0px top 7px;
      }
    }
  }
}

.p-good-table {
  display: block;
  position: relative;
  padding: 30px 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background: #404040;
  }
  .table-striped > tbody > tr:nth-of-type(even) {
    background: #4b4b4b;
  }
  .table {
    margin: 0 0 30px 0;
  }
  .table td {
    padding: 12px 20px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    &:last-child {
      text-align: right;
    }
  }
  .table thead th {
    padding: 16px 20px;
    border: 0;
    background: #cf3534;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    &:last-child {
      text-align: right;
    }
  }
}

.p-contacts {
  display: block;
  position: relative;
  width: 100%;
  max-width: 440px;
  margin: 0 0 30px 0;
  padding: 30px 45px 45px 45px;
  border-left: 20px solid #cf3534;
  background: #eaeaea;
  z-index: 4;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #252525;
  }
  &__subtitle {
    display: block;
    margin: 22px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5b5b5b;
  }
  &__phone {
    display: block;
    margin: 7px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #252525;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 7px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    a {
      color: #252525;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cf3534;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 34px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #cf3534;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cf3534;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  z-index: 0;
}

@media (min-width: 412px) and (max-width: 1100px) {
  .p-header__logo {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
  .p-footer_why {
    margin-top: -510px;
    padding-top: 510px;
    background: #ffffff url("../images/footer_bg_alt.svg") no-repeat right top 110px;
    background-repeat: no-repeat;
  }
  .swiper-slide {
    width: 210px;
  }
  .p-article__cards {
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  .p-article__gallery {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) {
  .p-home-view {
    overflow: hidden;
  }
  .p-header__mob {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    filter: brightness(0) invert(1);
    img,
    svg {
      display: block;
      max-width: 42px;
      max-height: 42px;
    }
  }
  .p-header__nav li:hover > ul {
    display: none;
  }
  .p-header__nav > li {
    display: block;
    width: 100%;
    a {
      display: block;
      width: 100%;
    }
  }
  .p-header__nav {
    display: none;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .p-modal__content {
    padding: 30px 20px;
  }
  .p-modal__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-form__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-modal__text {
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 1.2;
  }
  .p-modal__info {
    margin: 10px 0;
  }
  .p-home-main__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .p-home-about__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .p-home-products__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-projects-card__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-main {
    padding: 40px 20px;
  }
  .p-home-main__button {
    margin-top: 30px;
    padding: 16px;
  }
  .p-home-about {
    padding: 30px 0;
    background: transparent;
  }
  .p-home-about__text {
    margin-bottom: 30px;
  }
  .p-home-about img,
  .p-home-about svg {
    margin: 20px auto !important;
  }
  .p-home-about__button {
    margin: 20px 0 0 0;
    padding: 16px;
  }
  .p-home-services {
    padding: 30px 0;
    overflow: hidden;
  }
  .p-home-services__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-view {
    padding: 30px 0;
  }
  .p-home-view__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-projects {
    padding-bottom: 30px;
  }
  .p-home-projects__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-projects-card__image {
    min-height: 250px;
  }
  .p-home-projects-card__content {
    padding: 30px 20px 80px 20px;
  }
  .p-home-projects-card__title {
    font-size: 24px;
  }
  .p-home-projects-card__title {
    min-height: auto;
    max-height: 112px;
  }
  .p-home-projects-card__link {
    margin-top: 20px;
  }
  .p-home-reviews {
    padding: 30px 0;
  }
  .p-home-reviews__cards {
    padding: 30px 0 60px 0;
  }
  .p-home-reviews__button {
    margin: 10px 0;
  }
  .p-home-reviews-card__title {
    margin-top: 10px;
  }
  .p-home-products {
    padding: 30px 0;
  }
  .p-home-products__title {
    margin-bottom: 40px;
  }
  .p-home-form {
    margin: 0;
    padding: 30px 20px;
    background: #eaeaea;
  }
  .p-home-companies {
    padding: 20px 0;
  }
  .p-home-form__subtitle {
    margin-bottom: 30px;
  }
  .p-home-form__info {
    margin: 10px 0;
  }
  .p-home-companies-card {
    margin: 10px auto;
  }
  .p-footer {
    padding: 30px 0;
    background: #ffffff;
    br {
      display: none;
    }
  }
  .p-footer__logo {
    margin-bottom: 20px;
  }
  .p-footer__info {
    margin-top: 10px;
  }
  .p-footer__link {
    margin: 30px 0 10px 0;
  }
  .p-footer__creators {
    margin: 0;
  }
  .p-footer__nav {
    margin-bottom: 30px;
  }
  .p-projects__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .p-projects-card__title {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.2;
  }
  .p-projects-card__image {
    height: 240px;
  }
  .p-projects__button {
    margin: 0 auto;
  }
  .p-projects {
    padding-bottom: 30px;
  }
  .p-about__title {
    font-size: 46px;
    line-height: 1.2;
  }
  .p-about__subtitle {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-about__content {
    padding: 100px 20px;
  }
  .p-about-info {
    padding: 30px 0;
  }
  .p-about-info__text {
    font-size: 18px;
    line-height: 1.4;
  }
  .p-home-features__image {
    height: 250px;
    margin-top: 0;
  }
  .p-about-info__image {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .p-home-features_about {
    padding-top: 20px;
  }
  .p-home-features__title {
    margin: 20px 0;
  }
  .p-about-area {
    padding: 30px 0;
    background: #ffffff;
  }
  .p-about-area__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-about-area-card ul {
    margin-bottom: 30px;
  }
  .p-article__title {
    font-size: 36px;
    line-height: 1.2;
  }
  .p-article__content {
    padding: 80px 20px;
  }
  .p-article__text {
    font-size: 18px;
    line-height: 1.4;
  }
  .p-article__button {
    margin-top: 30px;
  }
  .p-article__seo {
    padding: 30px 0;
  }
  .p-article__seo h1 {
    font-size: 36px;
  }
  .p-article__seo h2 {
    font-size: 32px;
  }
  .p-article__seo h3 {
    font-size: 26px;
  }
  .p-article__seo h4 {
    font-size: 18px;
  }
  .p-article__seo h5 {
    font-size: 14px;
  }
  .p-article__seo h6 {
    font-size: 10px;
  }
  .p-solutions {
    padding: 30px 0;
  }
  .p-solutions__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-home-seo {
    padding-bottom: 30px;
  }
  .p-good {
    padding: 30px 20px;
  }
  .p-good__title {
    font-size: 32px;
    line-height: 1.2;
  }
  .p-good__text {
    margin-bottom: 20px;
  }
  .p-good__price {
    margin: 10px 0;
  }
  .p-good-card {
    padding: 30px 20px;
  }
  .p-good-card__title {
    font-size: 30px;
    line-height: 1.2;
  }
  .p-good-table {
    padding: 30px 0;
  }
  .p-good-table__title {
    font-size: 30px;
    line-height: 1.2;
  }
  .p-contacts__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .p-home-form_dark {
    background: #252525;
  }
  #map {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
  }
  .p-breadcrumps_dark {
    color: #ffffff;
    li {
      a {
        color: #ffffff;
      }
    }
  }
  .p_mob_hide {
    display: none !important;
  }
  .p-article__seo {
    overflow: hidden;
  }
  .p-article__cards {
    width: 210px;
    margin: 0 auto;
    overflow: visible !important;
  }
  .p-home-view__svg {
    width: 100%;
    padding: 0;
  }
  .p-home-view__text {
    display: none;
  }
  .p-home-view__mob {
    display: block;
    position: relative;
    width: 100%;
    margin: 45px 0 0 0;
    z-index: 6;
    &-card {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 78px;
      padding: 16px;
      background: #2d2d2d;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #cf3534;
      text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: auto;
      bottom: 0;
      width: 68px;
      height: 25px;
      filter: grayscale(1);
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      &:before,
      &:after {
        display: none;
      }
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        filter: none;
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: 510px;
      right: auto;
    }
    .swiper-button-next {
      left: auto;
      right: 510px;
    }
  }
  .p-home-view__view {
    height: auto;
  }
  .p-home-view__svg {
    margin: 0 auto;
    transform: scale(1.4);
  }
  .p-home-view {
    overflow: hidden;
    &__mob {
      overflow: visible !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 25px;
      margin: 0;
      z-index: 3;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      &:before,
      &:after {
        display: none;
      }
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        filter: none;
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: -15px;
      right: auto;
      background: url("../images/icon_prev_alt.png") no-repeat center center;
      background-size: contain;
    }
    .swiper-button-next {
      left: auto;
      right: -15px;
      background: url("../images/icon_next_alt.png") no-repeat center center;
      background-size: contain;
    }
  }
  .p-home-view__view {
    overflow: hidden;
  }
}
